*.csproj
*.sln
Temp/
Library/
Builts/
AssetBundles/

Client/Temp/
Client/Library/
Client/Builts/
Client/AssetBundles/
Client/obj/

.vscode/
obj/
.vs/
debug.log
*.apk

*.csproj

*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd